@import url('variables.less');


body {
	max-width: 1500px;
}
.top-wrapper {
	width: 100%;
	background: @bg-main;

	header,
	.top-wrapper_center{
		max-width: 1170px;
		margin: 0 auto;
		overflow: hidden;
	}
}

header {
	.logo {
		display: block;
		float: left;

		img {
			margin: 25px 0 0 69px;
		}
	}

	.social-icon {
		float: right;
		font-size: 0;
		margin: 50px 16px 0 0px;

		a {
			margin-right: 11px;
		}

		i {	
			display: inline-block;
			width: 16px;
			height: 16px;			
		}

		.social__fb i {
			background: url(../img/fb_icon.png) 0 0 no-repeat;
			width: 12px;
		}
		.social__tw i {
			background: url(../img/tw_icon.png) 0 0 no-repeat;
		}
		.social__yt i {
			background: url(../img/yt_icon.png) 0 0 no-repeat;
		}
		.social__pin i {
			background: url(../img/pin_icon.png) 0 0 no-repeat;
		}
		.social__ins i {
			background: url(../img/inst_icon.png) 0 0 no-repeat;
		}

		select {
			border: none;
			background: @bg-main;
			.raleway;
			font-size: 10px;
			color: #fff;
			font-weight: bold;
			padding: 3px 0px 0 0;
    		vertical-align: top;
    		width: 36px;

    		option {
    			background: @bg-main;
			}
		}
	}
}

.top-wrapper_center {

	.cart__block {
		float: left;
		width: 270px;
	}

	.container {
		float: right;
		width: 74%;
		
		
		.slider__content-wrapper{
			color: #fff51f;
		    .raleway;
		    width: 38%;
		    float: right;
		    margin-right: 92px;
	        padding: 106px 0 178px 0;
		
			h1 {
				font-weight: 900;
				font-size: 48px;
				line-height: 32px;
				text-transform: uppercase;
				margin-bottom: 10px;
			}

			p {
				font-weight: 400;
				font-size: 18px;
			    line-height: 23px;
			    margin-bottom: 63px
			}

			button {
				background: rgba(255, 245, 31, 1);
			    padding: 18px 29px 14px 29px;
				color: #000;
				font-size: 14px;
				font-weight: 900;
				border: none;
				cursor: pointer;
				.raleway;

				&:hover, 
				&:focus {
					background: rgba(0, 0, 0, 1);
					color: rgba(255, 245, 31, 1);
				}
			}
		}
	}
}

.user__basket {
    .raleway;
    margin: 38px 0 9px 0;

	.login {
		background: #f8f8f8;
		font-weight: 400;	
		overflow: hidden;

		a {
			width: 50%;
			float: left;
			display: block;
			padding: 7px 0;	
			text-decoration: none;
			text-transform: uppercase;
			text-align: center;
			font-size: 12px;
			color: #fb4d01;
			&:hover,
			&:focus {
				text-decoration: underline;
			}
		}
	}

	.cart {
		background: #fb4d01;
		overflow: hidden;

		img,
		.cash__block,
		.cart__control {
			float: left;
		}

		img {
	    	margin: 13px 13px 10px 25px;
		}

		.cash__block {
		    width: 50%;
		    .raleway;
		    padding-left: 1px;
		}

	    .cash__cart {
			color: #fff;
			font-size: 18px;
			font-weight: 600;
			padding-top: 12px;
	    }

	    .amount__items {
	    	color: #faef03;
	    	font-size: 14px;
	    	font-weight: 400;
	    }
		

		.cart__control {

			a {
				display: block;
				text-align: center;
				text-decoration: none;
				text-transform: uppercase;
				color: @main-font-color;
				font-size: 10px;
			}

			.delete__cart {
                padding: 16px 16px 7px 15px;

				i {
					background: url(../img/cart-delete-icon.png) 50% 50% no-repeat;
					width: 16px;
					height: 15px;
					display: block;

					&:hover {
	                	background: url(../img/cart-delete-hover-icon.png) 50% 50% no-repeat;
	                }
				}
			}

			.edit__cart:hover {
				color: #faef03;
			}
		}
	}
	
	.cart__info {
		font-size: 10px;
		font-weight: 400;	    
    	text-transform: uppercase;
    	overflow: hidden;
    	
    	.view__cart,
    	.checkout {
    		width: 50%;
			padding: 11px 0px 8px 0px;	
			text-decoration: none;
			color: #fff;
			display: block;
			text-align: center;
			float: left;

			&:hover {
				text-decoration: underline;
			}
		}

		.view__cart {			
			background: #ee4a02;			
		}

		.checkout {
			background: #e24602;
		}
	}

	.search__cart {
		background: #e9e9e9;
		color: #0c0c0c;
		overflow: hidden;

		.search {
			height: 34px;
			background: #e9e9e9;
			border: none;
			color: #0c0c0c;
			font-size: 10px;
			font-weight: 400;
			text-transform: uppercase;
			padding: 13px 0 12px 14px;
		}

		button {
			float: right;
			width: 34px;
			height: 34px;
			background: @main-font-color url(../img/search-button-icon.png) 50% 50% no-repeat;
			border: none;
			cursor: pointer;
		}
	}
}

.box__welcome {
	.raleway;
	font-weight: bold;
	padding: 79px 25px 82px 21px;
	background: #fff51f;

	h2 {
		font-size: 30px;
		text-transform: uppercase;
		line-height: 30px;
		padding: 0 0 21px 4px;
	}

	p {
		font-size: 18px;
		font-style: italic;
		line-height: 14px;
	}
}

.main-wrap {
	max-width: 1500px;
	background: #f8f8f8;

	.clearfix:after {
		content: "";
		display: table;
		clear: both;
	}

	.main {
		max-width: 1170px;
		margin: 0 auto;		

		aside {
			float: left;
			width: 270px;
			margin-top: -20px;
		}

		.products {
			float: right;
			width: 74%;
			margin-top: -20px;
			background: #f8f8f8;
		}

		.bottom__content {
			width: 100%;	
			overflow: hidden;
		}
	}
}

aside {
	/*VERTICAL MENU*/
	.vertical {
	  	position: relative;
	  	width: 100%;
	  	.roboto;
	  	font-weight: 900;
	  	font-size: 14px;
	  	text-transform: uppercase;
  	    z-index: 10;

	  	h2 {
  		    padding: 29px 0 20px 42px;
			color: #fff;
			background: @main-font-color;
			font-weight: 700;
	  	}

		/* ALL UL */
		.first-level > li > a {
			padding-left: 40px;
		}

		.first-level,
		.second-level,
		.third-level {
		    list-style: none;
		    background: #26d2fc;
		
		    .second-level {
			    background: #75e3fe;
			    list-style: square;	

			    li:hover > a {
			    	background: url(../img/arrow-list.png) 100% 0 no-repeat;
				}
		    }

			.third-level {
			    background: #81e6ff;
			    list-style: square;	
		    }
		  
		    
			/* INNER UL HIDE */
		    ul {
				position: absolute;
				left: 0%;
				top: 0;
				width: 75%;
				visibility: hidden;
				opacity: 0;
				transition: transform 0.2s;
				transform: translateX(50px);
			}
		}
		/* ALL LI */
		li {
		    position: relative;
		    padding: 10px 15px 10px 3px;
		    color: @main-font-color;

			/* INNER UL SHOW */
			&:hover > ul {
			    padding-left: 28px;
    			left: 100%;
			    visibility: visible;
			    opacity: 1;
			    transform: translateX(0px);
			}
		}

		/* ALL A */
		a {
		    display: block;
		    text-decoration: none;
		    transition: 0.2s;
	        color: @main-font-color;
		}

		.first-level > li:hover {
			background: @main-font-color;
		}

		.first-level > li:hover > a {
			color: #fff;
		}
	}

	.banner__block {
		margin: 33px 0 0 0;
		width: 49%;
		padding: 45.5% 0 68px 51.48%;
		background: #e0e0e0;
		color: @main-font-color;
		.raleway;
		font-weight: 900;
		font-size: 36px;
		line-height: 36px;
		text-transform: uppercase;
		font-style: italic;
	}

	.tags__block {
		width: 90%;
		margin-top: 30px;
		overflow: hidden;
		background: #fff;
		padding: 27px 0 28px 28px;
		.roboto;

		h2 {
			padding-bottom: 18px;
			font-size: 24px;
			font-weight: 900;
			font-style: italic;
			color: #000;
		}

		.tags__inner {

			.active {
				background: #faef03;				
			}

			a {
				.roboto;
				display: inline-block;
				padding: 10px 12px 7px;
				background: #e9e9e9;
				font-size: 12px;
				color: @main-font-color;
				font-weight: 400;
				text-decoration: none;
				margin: 2px 2px 5px;

				&:hover {
					padding: 8px 30px 7px;
					font-size: 14px;
				}
			}		
		}

		.view__all_link {	
			width: 41%;
			display: block;
			margin: 11px 0 0 2px;
			font-size: 14px;
			font-weight: 900;
			font-style: italic;
			color: #000;
			text-decoration: none;

			i {
				display: block;
				margin-top: 7px;
				float: right;
				width: 20px;
				height: 5px;
				background: url(../img/arrow-link.png) 0 0 no-repeat;
			}

			&:hover {
				text-decoration: underline;	
			}
		}
	}

	.articles_block {
		width: 90%;
		margin: 30px 0;
		overflow: hidden;
		background: #fff;
		padding: 21px 0 21px 31px;
		.roboto;

		h2 {
			padding-bottom: 18px;
			font-size: 24px;
			font-weight: 900;
			font-style: italic;
			color: #000;
		}

	a {
		.roboto;
		display: inline-block;
	    padding: 9px 57px 4px 0px;
		font-size: 14px;
		color: @main-font-color;
		font-weight: 400;
		text-decoration: none;

			&:hover {
				text-decoration: underline;	
			}
		}

		.view__all_link {	
			width: 28%;
			display: block;
			margin-top: 11px;
			font-size: 14px;
			font-weight: 900;
			font-style: italic;
			color: #000;
			text-decoration: none;

			i {
				display: block;
				margin-top: 7px;
				float: right;
				width: 20px;
				height: 5px;
				background: url(../img/arrow-link.png) 0 0 no-repeat;
			}

			&:hover {
				text-decoration: underline;	
			}
		}	
	}
}

.top__products {
	margin-top: 42px;
}
.sale__products {
	margin-top: 49px;
}

.new__products,
.top__products,
.sale__products {
	.roboto;
	font-weight: 900;
	font-style: italic;
	color: @main-font-color;

	h2 {
		font-size: 22px;
	    margin: 28px 0 25px 20px;

		a {
			text-decoration: none;
			color: @product-h;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.item_product {
		width: 245px;
		height: 310px;
		overflow: hidden;
		padding: 10px 10px 0 10px;
		background: #fff;
		margin-bottom: 30px;
		
		.img-product__link {
			width: 100%;
    		margin: 0;

			img {
				width: 100%;
			}
		}

		a {
			width: 63%;
			text-decoration: none;
			display: block;
			margin-top: 22px;
			
			.name__product {
				display: block;
				float: left;
				font-size: 14px;
				color: @main-font-color;
				padding-left: 11px;		
			}
		}
		.product__price {
			width: 36%;
			float: right;

			.actual_price__product {
				display: block;
				float: right;
				font-size: 18px;
				color: @main-font-color;
			}

			.old_price__product {
				float: right;
				margin-left: 106px;
				font-size: 14px;
				color: #e24602;
				text-decoration: line-through;
			}
		}
	}
}

.bottom__content {
	background: #eaeaea;

	.brand__block {
	    background: #fff;
		
		a {
			display: inline-block;	
			margin: 68px 14px 61px;

			&:hover {
				transform: scale(1.1,1.1); 
			}
		}
		a:last-child {
		 	margin-right: 0;
		}
	}

	.instagram__widget {
		width: 100%;
		overflow: hidden;

		h2 {
			text-align: center;
			padding: 50px 0 27px;
			
			a {	
				.roboto;
				font-weight: 900;
				font-style: italic;
				color: @main-font-color;
				font-size: 22px;
				text-decoration: none;
				display: block;
				margin: 0 auto;
				width: 25%;

				i {
					float: left;
					display: block;
					height: 28px;
					width: 28px;
					background: url(../img/insta-icon.png) 39% 50% no-repeat;

				}

				&:hover,
				&:focus {
					color: lighten(@main-font-color, 35%);
				}

				span {
					font-size: 18px;
				}
			}
		}

		ul {
			list-style: none;

			li {
				display: inline-block;
				margin-right: 9px;

				&:hover,
				&:focus {
					opacity: 0.8;
				}

				img {
					border: 7px solid #fff;
				}
			}

			li:last-child {
				margin-right: 0;
			}
		}
	}

	.social__links-big {
		width: 100%;
		margin-top: 57px;
		overflow: hidden;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-direction: row;
		flex-direction: row;
		-ms-flex-wrap: nowrap;
		flex-wrap: nowrap;

		.fb-icon-big,
		.tw-icon-big,
		.pin-icon-big {
			display: block;
			width: 100%;
			-ms-flex-positive: 1;
			flex-grow: 1;
			padding: 74px 15px;
			text-align: center;
			font-size: 0;
		}

		.fb-icon-big {
			background: #3b5997 url(../img/fb-icon-big.png) 50% 50% no-repeat;
		}

		.tw-icon-big {
			background: #3fccfd url(../img/tw-icon-big.png) 50% 50% no-repeat;
		}

		.pin-icon-big {
			background: #cb2027 url(../img/pin-icon-big.png) 50% 50% no-repeat;
		}
	}
}